<section class="s1">
    <div class="left">
        <h1>Moving & Shifting</h1>
        <p>"We make moving and shifting easy in Oman. With our smart solutions and skilled team, we simplify the process. Whether it's homes or offices, we handle it all smoothly. Say goodbye to stress with us!"</p>
    </div>
    <div class="right">
        <img src="/images/mm1.png" alt="Image">
    </div>
</section>
<div class="service">
    <h1>Our Services</h1>
</div>
<div class="row">
    <div class="column">
        <img src="/images/o1.png" alt="Office Moving" width="100%">
        <p>Office Moving: We specialize in relocating office spaces efficiently, minimizing disruption to your business operations.</p>
    </div>
    <div class="column">
        <img src="/images/h1.webp" alt="Home Moving" width="100%">
        <p>Home Moving: Our expert team ensures a hassle-free moving experience for your household possessions.</p>
    </div>
    <div class="column">
        <img src="/images/l1.jpg" alt="Logistics" width="105%">
        <p>Logistics: We offer comprehensive logistics solutions tailored to meet your transportation and storage needs.</p>
    </div>
</div>

<!-- section-----2 -->

<section class="s2">
    <div class="left">
        <img src="/images/ooo9.jpg" alt="Image">

    </div>
    <div class="right">
        <h1>Why to chose Us?</h1>
        <p>"Choose us for your moving and shifting needs because we prioritize your peace of mind. With our seasoned expertise, we ensure a seamless transition from start to finish, whether it's relocating your home or office. Our personalized solutions cater to your unique requirements, ensuring a tailored experience every time. Trust in our reliability and commitment to handle your belongings with care, delivering them safely and on time to their destination. Experience the difference with our dedicated team, making your move stress-free and straightforward."</p>
    </div>
</section>